page-audiolist {
  .data-list {
    float: left;
    width: calc(33vw - 21px);
    margin-left: 16px;
  }
  .data-list:nth-child(3n+1) {
    margin-left: 0;
  }
 
  .data-list .bk-cover {
    float: left;
    width: 100%;
    height: 33vw;
  }
  .data-list .bk-cover img {
    float: left;
    width: 100%;
    height: 100%;
  }
  .data-list .bk-detail {
    display: inline-block;
    width: 100%;
    height: 3rem;
    line-height: 1.5rem;
    overflow: hidden;
  }
}
