<ion-header>
  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button icon-only (tap)="saomaAddBook()">
        <ion-icon class="iconfont icon-saoma"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="toSearch()">
        <ion-icon class="iconfont icon-search"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="toUser()">
        <ion-icon class="iconfont icon-user"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title start>视频</ion-title>
  </ion-navbar>
  <ion-toolbar id="Subheader">
    <ion-toolbar>
      <ion-title>
        <ion-scroll scrollX="true">
          <div class="scroll-list">
            <span class="scroll-item" *ngFor="let item of topData" (tap)="getlistData(item.video_cat_id)" [ngClass]="{'active': param.cid == item.video_cat_id}">{{item.video_cat_name}}</span>
          </div>
        </ion-scroll>
      </ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content scrollDownOnLoad="true" padding>
  <div style="display: inline-block;width: 100%;">
    <div class="data-list" *ngFor="let item of searchData">
      <div class="bk-cover" (tap)="toAudioinfoPage(item)">
        <img src="{{service.ctxPath + item.cover_url_small}}" />
      </div>
      <p class="bk-detail">{{item.video_title}}</p>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="getlistDataMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <p class="row_mess" *ngIf="param.more">已经没有更多数据</p>
</ion-content>
