<ion-header>
  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button icon-only (tap)="saomaAddBook()">
        <ion-icon class="iconfont icon-saoma"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="toSearch()">
        <ion-icon class="iconfont icon-search"></ion-icon>
      </button>
      <button ion-button icon-only (tap)="toUser()">
        <ion-icon class="iconfont icon-user"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title start>{{service.txtPage[3]}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="topSolid">
    <ion-slides>
      <ion-slide *ngFor="let item of pageWiper">
        <a (click)="toNewsinfoPage(item.adv_url)">
          <img src="{{service.ctxPath + item.adv_img_small}}" />
          <h1>{{item.adv_name}}</h1>
        </a>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="cont_cont" padding>
    <div class="hot_book">
      <p>
        <span style="font-size:1.2rem;">最新图书</span>
        <a (tap)="toBookLIst()" class="more">
          <em>更多&nbsp;&gt;&nbsp;</em>
        </a>
      </p>
      <div class="hot_cont">
        <a *ngFor="let bk of hotBook" class="book_list" (tap)="toBookinfoPage(bk.book_id)">
          <div class="img_box">
            <img src="{{service.ctxPath + bk.book_cover_small}}" alt="">
          </div>
          <span>{{bk.book_name}}</span>
        </a>
      </div>
    </div>
    <div class="hot_video">
      <p>
        <span style="font-size:1.2rem;">最新视频</span>
        <a (tap)="toVadiolistPage()" class="more">
          <em>更多&nbsp;&gt;&nbsp;</em>
        </a>
      </p>
      <div class="hot_cont">
        <a *ngFor="let vi of hotVideo" class="video_list" (tap)="toAudioinfoPage(vi)">
          <div class="img_box">
            <img src="{{service.ctxPath  + vi.cover_url_small}}" alt="">
          </div>
          <span>{{vi.video_title}}</span>
        </a>
      </div>
    </div>
    <div class="hot_audio">
      <p>
        <span style="font-size:1.2rem;">最新听书</span>
        <a (tap)="toAudiolistPage()" class="more">
          <em>更多&nbsp;&gt;&nbsp;</em>
        </a>
      </p>
      <div class="hot_cont">
        <a *ngFor="let au of hotAudio" class="audio_list" (tap)="_toAudioinfoPage(au)">
          <div class="img_box">
            <img src="{{service.ctxPath + au.cover_url}}" alt="">
          </div>
          <span>{{au.audio_title}}</span>
        </a>
      </div>
    </div>
  </div>
</ion-content>
