<ion-header>
    <ion-navbar color="primary">
      <ion-buttons end>
        <button ion-button icon-only (tap)="saomaAddBook()">
          <ion-icon class="iconfont icon-saoma"></ion-icon>
        </button>
        <button ion-button icon-only (tap)="toSearch()">
          <ion-icon class="iconfont icon-search"></ion-icon>
        </button>
        <button ion-button icon-only (tap)="toUser()">
          <ion-icon class="iconfont icon-user"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title start>{{cname}}</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  <div class="topSolid">
    <ion-slides>
      <ion-slide *ngFor="let item of pageWiper">
        <a (click)="toNewsinfoPage(item.article_id)">
          <img src="{{service.ctxPath + item.cover_url}}" />
          <h1>{{item.article_title}}</h1>
        </a>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="cont_cont">
    <ul>
      <li class="cont_list" *ngFor="let item of listData" (click)="toNewsinfoPage(item.article_id)">
        <div class="list_left">
          <img src="{{service.ctxPath + item.cover_url_small}}">
        </div>
        <div class="list_right">
          <p>{{item.article_title}}</p>
          <span>{{item.publish_time}}</span>
        </div>
      </li>
    </ul>
    <p class="row_mess">已经没有更多数据</p>
  </div>
</ion-content>
